*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.menu-container{
    height: 4rem;
    background-color: lightpink;
}

.formula-container{
    height: 2rem;
    background-color: lightcoral;
}

.grid-container{
    border: 1px solid red;
    height: calc(100vh - ( 4rem + 2rem + 2rem));
    background-color: lightgreen;
    overflow: auto;
}

/* sheets */
.sheets-container{
    background-color: lightblue;
    height: 2rem;
    display: flex;
}

.add-sheet_btn-container{
    width:5rem;
    text-align: center;
    border: 1px solid;
    padding-top: 5px;
    height:100%;
}

.sheet-list{
    width:calc(100vw - 3rem);
    border: 1px solid black;
    display: flex;
    overflow:auto;
}

.sheet-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sheet-list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.sheet{
    /* border: 1px solid blue; */
    height: 100%;
    background-color: gray;
    min-width: 5rem;
    text-align: center;
}

.active{
    background-color: white;
}

.box{
    height: 2rem;
    width:2rem;
    border: 1px solid black;
    text-align: center;
}

.left_box{
    background-color:gray;
}

.grid{
    background-color: blueviolet;
    /* display: flex; */
}

.top_row{
    height: 2rem;
    display:flex;
}

.cell{
    height: 2rem;
    min-width:5rem;
    border: 1px solid black;
    text-align: center;
}

.row{
    display: flex;
}

